img{
    width: 120px;
    height: 140px;
    position: relative;
    border:auto solid rgb(3, 65, 88);
    border-radius: 100%;
    
    
}
img:hover{
    width: 150px;
    height: 170px;
}
a{
    background-color: #cbe7f5;
    color: rgb(250, 235, 215);
    border: 40px solid 5px;
    font-size: 30px;

}
a:hover{
    font-size: 40px;
    
}

body{
    background-color:#64b7e4;
}
h1{
    color:#bae5f4 ;
    text-shadow: 2px 2px 6px rgb(17, 64, 100);
    font-size: 45px;

}
h1:hover{
    font-size: 47px;
    text-shadow: 2px 2px 6px black;
}
.about{
    background-color: #365b6e;
    color: antiquewhite;
}
.study{
    background-color: #427D9D;
}
.container{
    font-size: large;
    font-family: serif;
    font-weight: bold;
    background-color: #afe3ef;
    background-blend-mode: darken;
}
