body{
    width: 1000px;
    background-color:#cafbcb;
    margin-left: 250px;
}
h1{
    text-shadow: 3px 3px 6px rgb(173, 220, 173);
    font-size: 30px;
    text-decoration: underline;
}
img{
    width: 400px;
    height: 200px;
}
p{
    font-size: large;   
    text-align: center;
}
h3{
    font-weight: bold;
    font-size: 22px;
    background-color: rgb(13, 63, 25);
    color: beige;
   
} 

.projects{
    background-color: rgb(121, 172, 107);
    border: 2px solid black;
}